/* General */
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1F1F1F;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

li {
  list-style: none;
}

button {
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #1F1F1F;
}

::-webkit-scrollbar-thumb {
  background-color: #FF206E;
}

/* Navbar  */
.navbar {
  background-color: transparent;
  border-bottom: 1px solid #F5F5F5;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8px;
}
@media (min-width: 768px) {
  .navbar-container {
    padding: 16px 34px 16px 38px;
  }
}
@media (min-width: 1024px) {
  .navbar-container {
    padding: 16px 100px;
  }
}
.navbar-brand {
  font-size: 24px;
  font-weight: 700;
}
.navbar-brand:hover {
  color: #FF206E;
}
.navbar-brand span {
  font-weight: 700;
}
.navbar-brand span:hover {
  color: #F5F5F5;
}
.navbar-button {
  background-color: transparent;
  font-size: 32px;
}
@media (min-width: 1024px) {
  .navbar-button {
    display: none;
  }
}
.navbar-menu {
  display: none;
}
@media (min-width: 1024px) {
  .navbar-menu {
    display: block;
  }
}
.navbar-toggle {
  display: none;
}
.navbar-items {
  padding-left: 8px;
}
@media (min-width: 768px) {
  .navbar-items {
    padding-left: 38px;
  }
}
@media (min-width: 1024px) {
  .navbar-items {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}
.navbar-item {
  margin: 8px 0;
}
@media (min-width: 1024px) {
  .navbar-item {
    margin: 0;
    padding-left: 32px;
  }
}
.navbar-link {
  color: #F5F5F5;
  font-size: 20px;
}
.navbar-link:hover {
  color: #FF206E;
}

/* Footer */
.footer {
  background-color: transparent;
  text-align: center;
  padding: 32px 8px;
  border-top: 1px solid #FF206E;
}
.footer p, .footer span {
  font-size: 14px;
  font-weight: 300;
}
.footer-links {
  display: flex;
  justify-content: space-around;
  margin: 32px 0;
}
@media (min-width: 768px) {
  .footer-links {
    margin: 32px 100px;
  }
}
@media (min-width: 1024px) {
  .footer-links {
    margin: 32px 350px;
  }
}
.footer-links a {
  color: #A3A3A3;
}
.footer-links a:hover {
  color: #FF206E;
}

/* Gallery Section  */
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 8px 24px;
}
@media (min-width: 768px) {
  .gallery {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 24px 8px;
  }
}
.gallery-card {
  width: 100%;
  height: 375px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 425px) {
  .gallery-card {
    height: 420px;
  }
}
@media (min-width: 768px) {
  .gallery-card {
    width: 45%;
    margin: 8px;
  }
}
@media (min-width: 1024px) {
  .gallery-card {
    width: 28%;
  }
}
.gallery-card-title {
  color: #F5F5F5;
  font-size: 24px;
  margin-bottom: 16px;
}
.gallery-card-btn {
  color: #F5F5F5;
  font-size: 20px;
}
.gallery-card-btn:hover {
  color: #FF206E;
}
.gallery #card-1 {
  background-image: url("../../img/gallery-1.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.gallery #card-1:hover {
  background-size: 110%;
}
.gallery #card-2 {
  background-image: url("../../img/gallery-2.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.gallery #card-2:hover {
  background-size: 110%;
}
.gallery #card-3 {
  background-image: url("../../img/gallery-3.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.gallery #card-3:hover {
  background-size: 110%;
}
.gallery #card-4 {
  background-image: url("../../img/gallery-4.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.gallery #card-4:hover {
  background-size: 110%;
}
.gallery #card-5 {
  background-image: url("../../img/gallery-5.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.gallery #card-5:hover {
  background-size: 110%;
}
.gallery #card-6 {
  background-image: url("../../img/gallery-6.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.gallery #card-6:hover {
  background-size: 110%;
}

/* Utilities */
.primary-color {
  color: #FF206E;
}

.secondary-color {
  color: #A3A3A3;
}

.light-color {
  color: #F5F5F5;
}

.dark-color {
  color: #0C0F0A;
}

/*# sourceMappingURL=app.css.map */
