@use '../1-base/variables'
    
@mixin border-bottom
    border-bottom: 1px solid variables.$light-color

@mixin navbar-center
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
